Django==4.2.15
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
python-decouple==3.8
Pillow==12.1.0
pytest==9.0.2
pytest-django==4.11.1
prophet==1.1.6
pandas==2.3.3
numpy==2.2.1
astral==3.2
requests==2.32.4
mongoengine==0.29.1
django-mongoengine==0.5.6
mongomock==4.1.2
dnspython==2.8.0
pymongo[srv]==4.6.1